{% extends "Company/base.html" %}

{% load static %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'HumanResource/index.css' %}">
{% endblock extra_css %}

{% block title%}
人資課首頁
{% endblock title %}


{% block content %}
<div class="mt-3">
    <h1 class="text-secondary">共用表單</h1>
    <hr>
    <div>
        <ul class="list-group">
            {% for each_data in ALL_forms %}
                {% if each_data.2 == '1' %}
                    <a href="{{ each_data.0 }}" class="list-group-item list-group-item-action px-3">{{ each_data.1 }}</a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<div class="mt-3">
    <h1 class="text-secondary">人資專用表單</h1>
    <hr>
    <div>
        <ul class="list-group">
            {% for each_data in ALL_forms %}
                {% if each_data.2 == '0' %}
                    <a href="{{ each_data.0 }}" class="list-group-item list-group-item-action px-3">{{ each_data.1 }}</a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}