{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="43200"> <!-- 每12小時頁面自動刷新 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日用歷史記錄圖</title>

    <link rel="stylesheet" href="{% static 'Production_management/lineChart.css' %}">
</head>

<body>
    <div class="containerCustom">

    </div>
    <div class="containerCustom">
        <div class="main_context">
            <table>
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th>{{ column }}</th>                            
                        {% endfor %}                        
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell|safe }}</td>
                            {% endfor %}                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script>
        // 假设 all_data 是一个有效的JSON对象或数组
        const original_data = {{ all_data|safe }};

        original_data.forEach(d => {
            d.date = new Date(d.date); // 确保日期已正确解析
             // 确保消耗值是数字
        });
        
        
        // Declare the chart dimensions and margins.
        const width = 928;
        const height = 500;
        const marginTop = 30;
        const marginRight = 30;
        const marginBottom = 30;
        const marginLeft = 40;
        
        // Declare the x (horizontal position) scale.
        const x = d3.scaleUtc(d3.extent(original_data, d => d.date), [marginLeft, width - marginRight]);
        
        // Declare the y (vertical position) scale.
        const y = d3.scaleLinear([0, d3.max(original_data, d => d.consume)], [height - marginBottom, marginTop]);
        

        // Declare the line generator.
        const line = d3.line()
            .x(d => {
                console.log(x(d.date))
                return x(d.date)
            })
            .y(d => y(d.consume));

        // Create the SVG container.
        const svg = d3.select('.containerCustom').append("svg")
            .attr("width", width)
            .attr("height", height)
            .attr("viewBox", [0, 0, width, height])
            .attr("style", "max-width: 100%; height: auto; height: intrinsic;");

        //Add the x-axis.
        svg.append("g")
            .attr("transform", `translate(0,${height - marginBottom})`)
            .call(d3.axisBottom(x).ticks(width / 80).tickSizeOuter(0));

        // Add the y-axis, remove the domain line, add grid lines and a label.
        svg.append("g")
            .attr("transform", `translate(${marginLeft},0)`)
            .call(d3.axisLeft(y).ticks(height / 40))
            .call(g => g.select(".domain").remove())
            .call(g => g.selectAll(".tick line").clone()
                .attr("x2", width - marginLeft - marginRight)
                .attr("stroke-opacity", 0.1))
            .call(g => g.append("text")
                .attr("x", -marginLeft)
                .attr("y", 20)
                .attr("fill", "currentColor")
                .attr("text-anchor", "start")
                .text("日用量歷史紀錄")
                .attr("font-size", "24px"));

        // Append a path for the line.
        svg.append("path")
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 1.5)
            .attr("d", line(original_data));

        

    </script>
</body>

</html>