* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgb(198, 223, 243), rgb(116, 152, 169) 60%, rgb(62, 106, 125));
}

.draw {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: auto;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.109);
    border-radius: 10px;
    display: flex;
    justify-content: space-around; /* 在子元素之間均勻分佈空間 */
    align-items: center; /* 垂直居中對齊子元素 */
}

.header {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 4em;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content {
    width: 40%;
    padding: 20px;
}

